<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  
  <servlet>
    <servlet-name>index</servlet-name>
    <servlet-class>/resources/index.jsp</servlet-class>
    
    <init-param>
      <param-name>inputMsg</param-name>
      <param-value>Please enter a temperature to convert.</param-value>
    </init-param>
    <init-param>
      <param-name>convertMsg</param-name>
      <param-value>Convert temperature to:</param-value>
    </init-param>
    <init-param>
      <param-name>currentTimeMsg</param-name>
      <param-value>The current time is:</param-value>
    </init-param>
  </servlet>
  
	<context-param>
      <param-name>author</param-name>
      <param-value>Mara Damatac, A00973641</param-value>
    </context-param>
    <context-param>
      <param-name>course</param-name>
      <param-value>Comp 3613</param-value>
    </context-param>
    <context-param>
    	<param-name>footer</param-name>
    	<param-value>A00973641 Mara 2016</param-value>
    </context-param>

  <servlet-mapping>
    <servlet-name>temperatureform</servlet-name>
    <url-pattern>/temperatureform.jsp</url-pattern>
  </servlet-mapping>
    
  <servlet>
  	<servlet-name>lab04servlet</servlet-name>
  	<servlet-class>a00973641.Lab04Servlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>lab04servlet</servlet-name>
  	<url-pattern>/lab04servlet</url-pattern>
  </servlet-mapping>
  
</web-app>